$phone-max: 992px;
$laptop-max: 1440px;

@mixin phone {
  @media screen and (max-width: $phone-max) {
    @content
  }
}

@mixin laptop {
  @media screen and (max-width: $laptop-max) {
    @content
  }
}

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}