$blue: #1753c9;
$pale-blue: #2dc8ff;
$base-dark: #253342;
$dark-blue: #263170;
$dark-grey: #8e9fad;
$pale-grey: #e9ecef;
$black-medium-grey: #dee3ed;
$blue-primary-blue: #1753c9;
$blue-bright-blue: #2dc8ff;
$black-medium-grey: #dee3ed;

$yellow: #ffc900;
$success: #7cba10;
$error: #ff423f;

$primary-color: #C72026;
$primary-color-lighter: #EA1818;
$secondary-color: #333333;
$secondary-color-darker: #363636;
$secondary-color-lighter: #999999;
$white: #fff;
$black: #000;