.not-found {
    padding: 130px 0 0;
    text-align: center;

    @include phone {
        padding: 64px 0 0;
    }

    .container {
        max-width: 576px;
        width: 100%;
    }

    figure {
        max-width: 410px;
        width: 100%;
        margin: 0 auto;
        display: block;

        @include phone {
            max-width: 205px;
        }
    }

    h1 {
        font-size: 52px;
        font-weight: bold;
        text-align: center;
        margin: 50px 0 32px;

        @include phone {
            font-size: 36px;
            margin: 32px 0 16px;
        }
    }

    p {
        margin: 0 0 32px;
        font-size: 26px;

        @include phone {
            font-size: 18px;
            margin: 0 0 16px;
        }
    }

    a {
        display: inline-block;
        margin: 0 auto 32px;
    }
}