@import '../settings/mixins';
@import '../settings/colors';
@import '../settings/breakpoints';
@import '../settings/icons';

body {
	background-color: #fff;
	font-family: 'Barlow Condensed';
	font-size: 16px;
	color: $base-dark;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	color: $secondary-color;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0;
	width: 100%;

	@include phone {
		padding: 0 16px;
	}
}

html,
main {
	height: 100%;
	position: relative;
	z-index: 1;
}

img,
figure,
picture,
source {
	display: block;
}

i {
	font-style: normal;
	line-height: 1;
	display: inline-block;
}

i::before {
	font-size: 16px;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea,
label,
input::-webkit-input-placeholder {
	appearance: none;
	-webkit-appearance: none;
	font-family: 'Barlow Condensed';
}


select,
input,
span,
button {
	border: none;

	&:focus {
		outline: none;
	}
}

figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

::-ms-reveal {
	display: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

figure {
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}


h4 {
	margin: 32px 0 22px;
	color: #333333;
	font-size: 32px;
	font-weight: bold;
}

.visible-not {
	visibility: none;
	height: 0px;
	width: 0px;
}

.d-flex {
	display: flex;
}

.row-reverse {
	flex-direction: row-reverse;
}

.page {
	&__tab {
		padding-top: 100px;

		@include phone {
			padding-top: 20px;
		}

		.tabs {
			display: flex;
			justify-content: space-between;
			&__head {
				width: 320px;
				&__arrow {
					.tabs__head__item {
						text-align: left;
						width: 100%;

						&--active {
							background: #de0000;
						}
	
						sub {
							display: block;
						}
					}
				}
			}

			&__content {
				width: calc((100% - 320px - 30px));

				@include phone {
					width: 100%;
				}
			}
		}

		&--row-reverse {
			.tabs {
				flex-direction: row-reverse;

				@include phone {
					flex-direction: column;
				}
			}
		}
	}
}

