.box {
    position: relative;

    figure {
        position: relative;
    }
    &__without-image {
        p {
            margin-top: 6px;
            font-size: 22px;
            font-weight: 600;
        }

        .box__specs {
            color: $secondary-color-lighter;

        }
    }

    &__image {
        position: relative;
    }
}