.badge {
    &-arrow-rounded {
        background: url(../../assets/images/badge-arrow-rounded.png);
        position: absolute;
        top: 30px;
        right: 30px;
        width: 45px;
        height: 45px;
        line-height: 35px;
        text-align: center;
        color: $white;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.68px;
    }

    &-arrow-right {
        background: #1B1B1B;
        padding: 1.4px 9px;
        color: $white;
        font-weight: 500;
        position: relative;
        margin-right: 12px;
        font-size: 15px;
        letter-spacing: 0.3px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 0 6px 8px;
            border-color: transparent transparent transparent #1b1b1b;
        }
    }

    &-arrow-bottom {
        padding: 8px 28px 10px;
        background: $primary-color;
        color: $white;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1.32px;
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 28px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 12px 0 0;
            border-color: $primary-color transparent transparent transparent;
        }
    }

    &-fire {
        margin-right: 25px;
        line-height: 27px;
        padding: 0 14px;
        background: rgba($color: $primary-color, $alpha: 0.21);
        color: $primary-color;
        @include borderRadius(16px);

        svg {
            color: $primary-color;
        }
    }

    &__top-rated {
        position: absolute;
        top: 35px;
        right: 0;
        transform: translateX(50%);
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        width: 50px;
        color: $white;
        background: #7348E0;
        border-radius: 50%;

        @include phone {
            top: 10px;
            right: 10px;
            transform: unset;
        }
    }
}